html, body {
    margin: 0;
	padding: 0;
	min-height: 100%;
    background: #000000;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(335deg, rgba(0,0,0,1) 41%, rgba(41,41,41,1) 100%);
}

header {
    padding-top: 50px;
}

.nav {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    max-width: 1400px;
    width: 100%;
}

.nav a {
    color:#A7A7A7;
    align-items: center;
    margin: auto;
    text-decoration: none;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}

.nav a:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.social-media a {
    padding-left:15px;
}

.social-media a img {
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}

.social-media a img:hover {
    transform: scale(1.1);
}

#me {
    margin: auto;
    max-width: 1400px;
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
}

#im {
    color: #D9D9D9;
    font-size: 50px;
}

#im b {
    color: #00C0FD;
    font-weight: bold;
}

#me img {
    border-radius: 50%;
    border: 5px solid #00C0FD;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

#technologies {
    margin: auto;
    display: flex;
    max-width: 1400px;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    text-align: center;
}

#technologies h2 {
    color: #CCCCCC;
    font-size: 30px;
    margin-bottom: 25px;
}

#technologies p {
    color: #A7A7A7;
    font-size: 25px;
    margin-bottom: 80px;
}

#icons {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#projects {
    margin: auto;
    display: flex;
    max-width: 1400px;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    text-align: center;
    padding-bottom: 200px;
}

#projects h2 {
    color: #CCCCCC;
    font-size: 30px;
    margin-bottom: 25px;
}

#projects p {
    color: #A7A7A7;
    font-size: 25px;
    margin-bottom: 80px;
}

#projects h4 {
    color: #CCCCCC;
    font-size: 25px;
    margin: 10px;
    text-align: left;

}

#projects p {
    font-size: 20px;
    margin: 10px;
    text-align: left;
}

.premiere {
    width: 120px;
}

.info-top {
    margin-bottom: 50px;
}

.projetos {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.hbo img{
    height: 200px;
}


.info {
    background-color: #363636;
    padding-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.info a {
    color: #A7A7A7;
}

.info a:hover {
    color: #ffffff;
    text-decoration: none;
}


.info a img {
    height: 20px;
    margin-right: 10px;
}

.crypto img {
    height: 200px;
}

footer {
    margin:auto;
    display: flex;
    max-width: 1400px;
    width: 100%;
    justify-content: end;
    padding-bottom: 100px
}

footer a {
    color: #A7A7A7;
    margin-right: 50px;
    text-decoration: none;
    transition: 0.3s;
}

footer > div > a:hover {
    color: #00C0FD;
}

footer div {
    display: flex;
    align-items: center;
}

@media (max-width:1400px) {
    header {
        max-width: 1200px;
        display: flex;
        margin: auto;
        flex-direction: column;
        padding-top: 40px;
    }

    header .nav {
        display: none;
    }

    header #me {
        width: 100%;
        justify-content: space-around;
    }

    header #me #im {
        font-size: 40px;
    }

    #technologies {
        max-width: 1200px;
    }

    #technologies h2 {    
        font-size: 25px;
    }

    #technologies p {
        font-size: 20px;
    }

    #technologies #icons img {
        width: 80px;
    }

    #contact {
        max-width: 1200px;
    }

}

@media (max-width:1200px) {
    header {
        max-width: 800px;
        margin: auto;
    }

    header .nav {
        display: none;
    }

    header #me {
        margin:auto;
        display: flex;
        margin-top: 140px;
        justify-content: space-around;
    }

    header #me #im {
        font-size: 30px;
    }

    #icons {
        max-width: 800px;
    }

    #icons img {
        width: 80px;
    }

    #technologies {
        max-width: 800px;
    }

    #projects {
        max-width: 800px;
    }

    .projetos .info {
        max-width: 188px;
    }

    .projetos .info img {
        height: 105px;
    }

    .projetos .info a img {
        height: 20px;
    }

    #projects h4 {
        font-size: 15px;
    }

    #projects p {
        font-size: 15px;
    }

    footer {
        max-width: 800px;
    }
}

@media (max-width:767px) {
    header {
        max-width: 500px;
    }

    header .nav {
        display: none;
    }

    header #me {
        display: flex;
        flex-direction: column;
        margin: inherit;
        align-items: center;
    }

    header #me #im {
        font-size: 25px;
        margin-bottom: 50px;
    }

    header #me img {
        height: 150px;
        width: 150px;
    }

    #technologies {
        max-width: 500px;
        margin-top: 70px;
    }

    #technologies h2 {    
        font-size: 20px;
    }

    #technologies p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    #technologies #icons img {
        width: 50px;
    }

    #projects {
        max-width: 500px;
        padding-bottom: 100px;
        margin-top: 100px;
    }

    #projects .info-top h2 {
        font-size: 20px
    }

    #contact {
        max-width: 500px;
    }

    footer div {
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    #contact div a{
        margin: auto;
        margin-bottom: 15px;
    }
}

@media (max-width:480px){
    header {
        max-width: 320px;
    }

    header .nav {
        display: none;
    }

    header #me {
        display: flex;
        flex-direction: column;
        margin: inherit;
        align-items: center;
    }

    header #me #im {
        font-size: 20px;
        margin-bottom: 50px;
    }

    header #me img {
        height: 120px;
        width: 120px;
    }

    #technologies {
        max-width: 320px;
    }

    #technologies #icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #technologies #icons img {
        align-items: center;
        margin: auto;
        margin-top: 15px;
    }

    .projetos {
        flex-direction: column;
        display: contents;
    }

    .projetos .hbo {
        margin-bottom: 15px;
    }

    #contact {
        max-width: 320px;
        width: 100%;
        padding-bottom: 50px;
    }

    #contact div {
        display: flex;
        margin: auto;
        align-items: center;
    }

    #contact div a{
        margin: auto;
        margin-bottom: 15px;
        display: flex;
    }
}